{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="active">
            <a href="/events">Evènements</a>
        </li>
        <li class="">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    <button type="button" class="btn btn-warning top-corner" onclick="window.location.href='/events/add'">Créer un évènement</button>

    <figure class="snip1423">
        <img src="https://i.pinimg.com/originals/be/a7/bc/bea7bc1e4dd7ac8f0617c7a4eb036db5.jpg" alt="sample57" />
        <figcaption>
            <h3><b>Compétition de Counter Strike</b></h3>
            <div class="price">
                24/10/2018
                <div class="offer text-info">
                    <span class="number">39</span>
                    <span class="cents"><sup>95</sup></span>
                    <span class="usd"><sup>€</sup></span>
                </div>
                <button type="button" class="btn btn-primary">Détails</button>
            </div>
        </figcaption><i class="ion-android-cart">+</i>
        <a href="/Events/exemple"></a>
    </figure>

        <figure class="snip1423">
            <img src="https://i.pinimg.com/originals/be/a7/bc/bea7bc1e4dd7ac8f0617c7a4eb036db5.jpg" alt="sample57" />
            <figcaption>
                <h3><b>Compétition de Counter Strike</b></h3>
                <div class="price">
                    24/10/2018
                    <div class="offer text-info">
                        <span class="number">39</span>
                        <span class="cents"><sup>95</sup></span>
                        <span class="usd"><sup>€</sup></span>
                    </div>
                    <button type="button" class="btn btn-primary">Détails</button>
                </div>
            </figcaption><i class="ion-android-cart">+</i>
            <a href="{{ path('shopResearch') }}"></a>
        </figure>
{% endblock %}