{% extends "base.html.twig" %}
{% block body %}
    <p>Ajouter un évènement</p>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/events/add'">Créer un évènement</button>
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-15">
                    <div class="well">
                        <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                            <div class="form-group">
                                <label for="username" class="control-label">Tître</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Compétition CS Source">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Description</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Turrain">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Image</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="prenom.nom@viacesi.fr">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Date</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="prenom.nom@viacesi.fr">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Récurence ?</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="prenom.nom@viacesi.fr">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Prix</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="prenom.nom@viacesi.fr">
                                <span class="help-block"></span>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Proposer l'évènement</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
