{% extends "base.html.twig" %}
{% block body %}
    <p>Evènements</p>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/events/add'">Créer un évènement</button>
    <figure class="snip1423">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
        <figcaption>
            <h3>Titre</h3>
            <p>BLABLABLABLA BLABLABLA</p>
            <div class="price">
                Prix :
                <br/>
                Date :
                <br/>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/a'">Détails</button>
            </div>
        </figcaption><i class="ion-android-cart">+</i>
        <a href="#"></a>

{% endblock %}