{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>Ajouter un évènement</p>
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-15">
                    <div class="well">
                        <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                            <div class="form-group">
                                <label for="username" class="control-label">Tître</label>
                                <input type="text" class="form-control" id="username" name="titre" value="" required="" placeholder="Compétition CS Source">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
                            </div>
                            <div class="container">
                                <img id="blah" src="http://placehold.it/180" alt="your image" />
                                <div class="row">
                                    <input type='file' onchange="readURL(this);" name = "img"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <input id="datepicker" width="270" name = "date" placeholder="Date"/>
                                <script>
                                    $('#datepicker').datepicker({
                                        uiLibrary: 'bootstrap'
                                    });
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Récurence</label>
                                <select class="form-control" id="sel1" name = "recurence">
                                    <option>Aucune</option>
                                    <option>Journalière</option>
                                    <option>Hebdomadaire</option>
                                    <option>Annuelle</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pricelab" class = "control-label">Prix</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="prix" id = "pricelab"/>
                                        <span class="input-group-addon">€</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Proposer l'évènement</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
