{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="">
            <a href="/events">Evènements</a>
        </li>
        <li class="active">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
    {% endblock %}
{% block body %}
   <button type="button" class="btn btn-primary top-corner" onclick="window.location.href='/shop/cart'">Panier</button>
   <button type="button" class="btn btn-warning top-corner-shop" onclick="window.location.href='/shop/admin'">Gestion Boutique</button>
    <!-- Menu de recherche -->
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">

                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Catégories</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Chaussures</a></li>
                            <li><a href="#its_equal">Coussin</a></li>
                            <li><a href="#greather_than">Chemise</a></li>
                            <li><a href="#less_than">Veste</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept2">Prix</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu2">
                        <li><a href="#contains">10 - 20 €</a></li>
                        <li><a href="#its_equal">20 - 30 €</a></li>
                        <li><a href="#greather_than">40 - 50 €</a></li>
                        <li><a href="#less_than">50 - 60 €</a></li>
                    </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Rechercher le produit">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        <br/>
                </span>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="container">
        <div class="col-xs-12">
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Tître</h4>
                                        <p2>Description produit </p2>
                                        <br/>
                                        <b> 40 €</b>
                                        <br/>
                                        <button type="button" class="btn btn-success center">Ajouter Panier</button>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Tître</h4>
                                        <p2>Description produit </p2>
                                        <br/>
                                        <p2>Prix</p2>
                                        <br/>
                                        <button type="button" class="btn btn-success">Ajouter Panier</button>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Tître</h4>
                                        <p2>Description produit </p2>
                                        <br/>
                                        <p2>Prix</p2>
                                        <br/>
                                        <button type="button" class="btn btn-success">Ajouter Panier</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide1 -->
                </div><!-- /.control-box -->
            </div><!-- /#myCarousel -->
        </div><!-- /.col-xs-12 -->
    </div><!-- /.container -->
{% endblock %}