<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
    {% block cssmano %}
        <link rel="stylesheet" href="../CSS/style.css" />
    {% endblock %}
        <!-- Thème index police -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <!-- Thème police -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"  media="screen">

    {% endblock %}
    <!--Bootstrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Calendar -->
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    <title>{% block title %}Site BDE{% endblock %}</title>
</head>



<body>
{% block header %}
    <header>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-xl navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Menu burger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu Burger</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {% block navbar %}
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" >Accueil</a>
                    </li>
                    {% if app.session.get('logged') is not null %}
                        <li class="">
                            <a href="/ideas">Boîte à idée</a>
                        </li>
                        <li class="">
                            <a href="/events">Evènements</a>
                        </li>
                        <li class="">
                            <a href="/shop">Boutique</a>
                        </li>
                    {% endif %}
                </ul>
                {% endblock %}
                {% if app.session.get('logged') is not null %}
                    <ul class="nav navbar-nav navbar-right"> <!-- Position Left / Right-->
                        <li>
                            <a href="{{ path('disconnect') }}">Déconnexion</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right"> <!-- Position Left / Right-->
                        <li class="dropdown">
                            <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li class="">
                                    <a href="{{ path('login') }}"><i class="fa fa-lg fa-child"></i> Se connecter</a>
                                </li>
                                <li class="">
                                    <a href="{{ path('register') }}"><i class="fa fa-lg fa-coffee"></i> Créer un compte</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
{% endblock %}
</div>
<div class="col-md-15">
    {% block body %}
        <!-- Le code principal ici à chaque fois-->
    {% endblock %}
</div>
{% block footer %}
<!--footer start-->
<div class="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h3>Qui sommes nous ?</h3>
                <div class="footer-logo" ><img src="/Images/logo-groupe-cesi.png" alt="" height="130" width="200"></div>
                <p>Ce site est le site officiel de la BDE de Toulouse, vous y trouverez de multiples informations sur les sorties à venir, pourrez proposer vos idées, et parcourir notre magnifique boutique.</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h3>Liens rapides</h3>
                <ul class="footer-links">
                    <li><a href="#.">Boîte à idées</a></li>
                    <li><a href="#.">Activités</a></li>
                    <li><a href="#.">Boutique</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Réseaux sociaux</h3>
                <ul class="footer-category">
                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                    <br/>
                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    <br/>
                    <a href="#" class="btn btn-ins"><i class="fa fa-instagram pr-1"></i>Instagram</a>
                    <br/>
                    <a href="#" class="btn btn-yt"><i class="fa fa-youtube pr-1"></i> Youtube</a>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Nous contacter</h3>
                <a href="#" class="btn btn-email"><i class="fa fa-envelope pr-1"></i> prenom.nom@viacesi.fr</a>
                <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">06 36 30 36 30</a></div>
                <div class="info"><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">05 36 30 36 30</a></div>
            </div>
        </div>
        <div class="copyright">Copyright © 2018 Classify - All Rights Reserved.</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="../JS/add_Image.js"></script> <!-- place youre js file here -->
    <script src="../JS/bs-animation.js"></script> <!-- place youre js file here -->
    <script src="../JS/navbar.js"></script> <!-- place youre js file here -->
    <script src="../JS/shop.js"></script> <!-- place youre js file here -->
{% endblock %}
</body>

</html>