{% extends "base.html.twig" %}
{% block body %}
    <p>Boîte à idées</p>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/ideas/add'">Proposer un évènement</button>
    <figure class="snip1423">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
        <figcaption>
            <h3>Pudol Doux</h3>
            <p>All this modern technology just makes people try to do everything at once.</p>
            <button type="button" class="btn btn-success">Pour</button>
            <button type="button" class="btn btn-danger">Contre</button>
            <button type="button" class="btn btn-warning">Transformer</button>
        </figcaption>
    </figure>
    <figure class="snip1423">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
        <figcaption>
            <h3>Pudol Doux</h3>
            <p>All this modern technology just makes people try to do everything at once.</p>
            <button type="button" class="btn btn-success">Pour</button>
            <button type="button" class="btn btn-danger">Contre</button>
            <button type="button" class="btn btn-warning">Transformer</button>
        </figcaption>
    </figure>
{% endblock %}
